@charset "utf-8";
/* CSS Document */

header,#header .res-cart { background-color:#ffffff; }

body {  
  background:#ffffff; 
  
  color:#2b2b2b;
}






/* Button Color */


.dt-sc-button{border:1px solid #003993;}

.dt-sc-button{background:#003993;color:#ffffff;}

.dt-sc-button:hover,.add_address_section a:hover { background:#ffffff; }

.dt-sc-button:hover{color:#003993;}




/* Title Color */

.main-title h2, .main-title h3 {color:#000000;}

.wlast , .about-us-detail h6{color:#003993;}

.main-title h2, .main-title h3{border-bottom:1px solid; border-color:#f4f4f4;}



/* Products Color */


ul.products li .product-container { background:#ffffff;border: 1px solid #d6d6d6;}

ul.products li .product-details, ul.products li .product-details-hover{ background:#ffffff;}

ul.products li .product-title h3{color:#2d2d29;}


ul.products li .product-details h3 a, ul.products li .product-details-hover h3 a{color:#2d2d29;}

ul.products li .product-details .price .amount{color:#2d2d29;}

ul.products li .product-details-hover .price .amount{color:#2d2d29;}

ul.products li:hover .product-container { border:1px solid #003993; }




/* Blog Color */


.entry-details .entry-title h4 a{color:#003993;}


.entry-details .entry-title h4 a:hover{color:#000000;}


.blog-entry .entry-body  p{color:#7c7c7c;}



/* Team Section */


.dt-sc-team h5{color:#003993;}


.dt-sc-team h6{color:#7c7c7c;}

.dt-sc-team  p{color:#2b2b2b;}



/* Portfolio Section */



.sorting-container a{color:#000000; background-color:#f5f5f5; }


.sorting-container .active-all , .sorting-container a:hover{background:#003993;color:#ffffff;}


.gallery .image-overlay{background-color:rgba(119, 190, 50, 0.85);}



.image-overlay-text h4 a{color:#000000;}

.image-overlay .small-line{background:#003993;}


.image-overlay-text p a:hover , .image-overlay-text h4 a:hover{color:#ffffff;}






#logo a, nav a, .image-overlay-text p a,  .widget h4.widgettitle a,a { color:#000000; }


#main-menu ul li.menu-item-simple-parent ul li a:hover,#main-menu ul li.menu-item-simple-parent ul li a.current_page_item,.theme-service .left:hover .hexagon-shapes .fa, .theme-service .right:hover .hexagon-shapes .fa, .tweet-list h4 a,.tweet-content .hexagon-shapes .hexagon2 .fa, .carousel-arrows .fa:hover,.features .fa, input[type="submit"]:hover, #main-menu ul li:hover a, #main-menu ul li.current_page_item a,.dt-sc-testimonial-wrapper.type2 .hexagon-shapes .fa,  .widget h4.widgettitle a:hover,.dt-sc-icon-content.type2:hover h2, .dt-sc-icon-content.type2:hover .hexagon-shapes .fa, .dt-sc-button .fa:hover,.dt-sc-testimonial-content .quotes:before, .dt-sc-testimonial-content .quotes:after, .dt-sc-star-icons .fa, 
.tweets a, ul.recent-posts-widget li a:hover, .entry-details .entry-metadata h6 a:hover, ul.commentlist li .author-name a:hover,#secondary .widget .tweet-text a:hover, .author-desc h5 a:hover, .message p.success, .links li:hover .hexagon .fa, .client-detail li .fa,.client-detail li a, .parallax-text h3 a:hover,.pagination ul li.active-page,.pagination ul li a:hover,.pagination .next-post a:hover,.pagination .prev-post a:hover,table .item a,#search h5 a,.spr-summary-actions a:hover,#login a,#customer-account .note a,#customer-addresses a,a:hover,.widget.widget_product_categories .product-categories li a:hover,.widget.widget_product_categories .product-categories li a.active,.widget ul li a:hover,.widget .recent-portfolio-widget ul li h6 a:hover{color:#003993; }

h1, h2, h3, h4, h5, h6 { color:#181818; }

.portfolio-carousel-wrapper .carousel-arrows a:hover span,input[type="submit"],.summary .purchase-section .addtocart:hover,.add_address_section a { color:#ffffff; }



.pagination ul li a,.portfolio-carousel-wrapper .carousel-arrows a:hover,.customer-links,.shop_table thead, .pagination .next-post a, .hexagon, input[type="submit"],#searchform input[type="submit"],.widget.widget_tag_cloud .tagcloud a:hover,.onsale,ul.products li .product-details-hover .add-wishlist a,ul.products li .product-details-hover button.add-to-wishlist,.pagination .prev-post a,.selector-wrapper input[type="button"], .product-details-hover .addtocart,ul.products li .product-details-hover a.view_details,.mean-container a.meanmenu-reveal,.mean-container .mean-nav ul li a { background-color:#003993; }


.hexagon { background-color:#dc143c; }

.hexagon2{background-color:#ffffff; } 

.dt-sc-icon-content.type2 .hexagon2 { background-color:#ffffff; }

.dt-sc-icon-content.type2 .hexagon, .dt-sc-icon-content.type2 .hexagon .corner1, .dt-sc-icon-content.type2 .hexagon .corner2{background-color:#d2d2d2; }

.dt-sc-icon-content.type2:hover .hexagon2, .dt-sc-icon-content.type2:hover .hexagon2 .corner1, .dt-sc-icon-content.type2:hover .hexagon2 .corner2{background-color:#ffffff; } 

.dt-sc-icon-content.type2:hover .hexagon.hexagon, .dt-sc-icon-content.type2:hover .hexagon, .dt-sc-icon-content.type2:hover .hexagon .corner1, .dt-sc-icon-content.type2:hover .hexagon .corner2 {background-color:#003993; }


.dt-sc-testimonial-wrapper h3, .statistic h3, .statistic p, .statistic h5, .progress-bar h3, .progress-bar p, .mail-box .fa, .tweet-content h3, .tweet-list h4, .tweet-list h4 a:hover, .carousel-arrows .fa, footer p, .top-content h2, .features li, .top-content-menu a,   .features-list h5, .testimonial span, .testimonial h4, .entry-details .hexagon .fa, .page-title h2, .black-box p a, #secondary .widget_categories ul li:hover a:before, .widget_categories ul li:hover a:before, #secondary .widget_categories ul li:hover a, .widget_categories ul li:hover a, .widget.widget_tag_cloud .tagcloud a:hover,.dt-sc-testimonial-content h4,.dt-sc-testimonial-content .quotes {color:#ffffff;}


.copyright p a:hover {color:#ffffff;}




.small-line,.dt-sc-contact-info .small-line { background-color:#003993; }

.copyright { background: #003993; }

.dt-sc-social-icons li:hover .hexagon2,.dt-sc-social-icons li:hover .hexagon2 .corner1, .dt-sc-social-icons li:hover .hexagon2 .corner2 { background-color:#003993; }

.dt-sc-social-icons li:hover .hexagon2 .fa { color: #ffffff; }

.dt-sc-social-icons li .fa-facebook{color:#35538f;}
.dt-sc-social-icons li .fa-twitter{color:#34b3d3; }
.dt-sc-social-icons li .fa-dribbble{color:#11134d;}

.dt-sc-social-icons li .fa.fa-youtube{color:#000000;}

.dt-sc-social-icons li .fa-linkedin{color:#d53e2b;}
.dt-sc-social-icons li .fa-pinterest{color:#b70400;}

.dt-sc-social-icons li .fa-google-plus { color:#003993;}

.dt-sc-social-icons li .fa-instagram { color:#35538f;}

.jcarousel-pagination a,.pagination ul li.active-page, .bx-wrapper .bx-pager.bx-default-pager a, .widget.widget_tag_cloud .tagcloud a:hover, input[type="submit"], .pagination .next-post a, .pagination .prev-post a,.pagination ul li a,.summary.product-details-hover .add-wishlist a,.summary.product-details-hover button.add-to-wishlist, #product .featured:hover {border:1px solid #003993;}


.onsale.sold { background:#820807; }

.founder-thumb .hexagon2, .founder-thumb .hexagon2 .corner1, .founder-thumb .hexagon2 .corner2, .testimonial-thumb .hexagon2, .testimonial-thumb .hexagon2 .corner1, .testimonial-thumb .hexagon2 .corner2, .team-thumb .hexagon2, .team-thumb .hexagon2 .corner1, .team-thumb .hexagon2 .corner2, .entry-author-image .hexagon2, .entry-author-image .hexagon2 .corner1, .entry-author-image .hexagon2 .corner2, .dt-sc-icon-content.type1 .hexagon2, .dt-sc-icon-content.type1 .hexagon2 .corner1, .dt-sc-icon-content.type1 .hexagon2 .corner2{border-left:2px solid #003993; border-right:2px solid #003993;}
