@charset "utf-8";
/* CSS Document */


/*----*****---- << Color >> ----*****----*/

.dt-sc-testimonial-content p {color: #77be32;}

/*----*****---- << Background Color >> ----*****----*/
	

.jcarousel li:hover { background-color:#d6ebc1; }
	
.mean-container .mean-nav ul li a:hover {background: pink;}

/*----*****---- << Border Color >> ----*****----*/	
	
.theme-service .left:hover .hexagon-shapes .hexagon2, .theme-service .left:hover .hexagon-shapes .hexagon2 .corner1, .theme-service .left:hover .hexagon-shapes .hexagon2 .corner2, .theme-service .right:hover .hexagon-shapes .hexagon2, .theme-service .right:hover .hexagon-shapes .hexagon2 .corner1, .theme-service .right:hover .hexagon-shapes .hexagon2 .corner2, .dt-sc-icon-content.type2:hover .hexagon2, .dt-sc-icon-content.type2:hover .hexagon2 .corner1, .dt-sc-icon-content.type2:hover .hexagon2 .corner2, .dt-sc-social-icons li .hexagon2, .dt-sc-social-icons li .hexagon2 .corner1, .dt-sc-social-icons li .hexagon2 .corner2, .tweet-content .hexagon-shapes .hexagon2, .tweet-content .hexagon-shapes .hexagon2 .corner1, .tweet-content .hexagon-shapes .hexagon2 .corner2, .dt-sc-testimonial-wrapper.type2 .hexagon-shapes .hexagon2, .dt-sc-testimonial-wrapper.type2 .hexagon-shapes .hexagon2 .corner1, .dt-sc-testimonial-wrapper.type2 .hexagon-shapes .hexagon2 .corner2, .project-details .dt-sc-social-icons li:hover .hexagon2, .project-details .dt-sc-social-icons li:hover .hexagon2 .corner1, .project-details .dt-sc-social-icons li:hover .hexagon2 .corner2{border-left:1px solid #77be32; border-right:1px solid #77be32;}



.purchase-now:hover{border:3px solid #77be32;}

.theme-service .hexagon2, .theme-service .hexagon2 .corner1, .theme-service .hexagon2 .corner2{border-left:1px solid rgba(119, 190, 50, 0.5); border-right:1px solid rgba(119, 190, 50, 0.5);}
	
/*----*****---- << Box Shadow >> ----*****----*/

.jcarousel-pagination a:hover, .jcarousel-pagination a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{box-shadow:0px 0px 0px 2px #dc143c inset;}



#main-menu ul li.menu-item-simple-parent ul,.dt-sc-tabs-container ul.dt-sc-tabs li a.current   { border-top-color:#77be32; }


.product-details-hover .addtocart:hover,ul.products li .product-details-hover .add-wishlist a:hover,ul.products li .product-details-hover button.add-to-wishlist:hover,ul.products li .product-details-hover a.view_details:hover { background-color:#7c7c7c; }
