@charset "utf-8";
/* CSS Document */





@import url("/assets/reset.css?17068925453686026977");


  /*--------------------------------------------------------------
  >>> TABLE OF CONTENTS:
  ----------------------------------------------------------------
  1.General Styles
  1.1 Fonts
  1.2 Headings
  1.3 Text Elements
  1.4 Transition
  2.Widgets
  3.Layout
  3.1 container
  4.Banner
  5.Header
  6.Main
  6.1 About
  6.2 Services
  6.3 Portfolio
  6.3.1 Isotope
  6.3.2 Portfolio Single
  6.4 Team
  6.5 Blog
  6.5.1 Post Author Details
  6.5.2 commententries
  6.6 Contacts
  7.Footer
  8.Go to top
  9.Style Picker


   /*----*****---- << 1.General Styles >> ----*****----*/

  body { font-weight:normal; font-size:14px; }

a[href^=tel] { color: inherit; text-decoration: none; }


/*----*****---- << 1.1 Fonts >> ----*****----*/

body, h1, h2, h3, h4, h5, h6, textarea, input[type="text"],
input[type="password"], input[type="email"], input[type="url"], 
input[type="tel"], input[type="number"], input[type="range"], input[type="date"],
input[type="search"], input.text { font-family:Source Sans Pro, sans-serif; }

/*----*****---- << 1.2 Headings >> ----*****----*/


body,
input,
textarea,
button,
select {  color:#2b2b2b;letter-spacing:0em; font-size: 14px; line-height: 1.7; font-family:Source Sans Pro, sans-serif; -webkit-font-smoothing: antialiased;  -webkit-text-size-adjust: 100%;}

h1, h2, h3, h4, h5, h6 { letter-spacing:0em;margin: 0 0;line-height: 1.1;color:;font-family:Source Sans Pro, sans-serif;
  a { text-decoration: none; font-weight: inherit;  }}

h1{  line-height:normal; margin-bottom:15px; text-transform:uppercase; }
h2{  line-height:normal; margin-bottom:15px; text-transform:uppercase; }
h3{ line-height:normal; margin-bottom:15px; text-transform:uppercase; }
h4{  line-height:24px; margin-bottom:15px; }
h5{  line-height:21px; margin-bottom:10px; }
h6{  line-height:21px; margin-bottom:10px; }

a { text-decoration: none; font-weight: inherit;  }
/*================ Use em() Sass function to declare font-size ================*/
h1 {
  font-size: 50px;
  
 
  
   
}

h2 {
 font-size: 40px;
  
}

h3 {
 font-size: 30px;
 
}

h4 {
  font-size: 20px;
 
}

h5 {
 font-size: 18px;
  
}

h6 {
   font-size: 16px;
 
  }
}

/*----*****---- << 1.3 Text Elements >> ----*****----*/


a{ text-decoration:none; }
a img{ border:none; }
img { max-width:100%; }
iframe { max-width:100%; } 

strong{ font-weight: bold; }
em{ font-style: italic; }

p { line-height:21px; margin-bottom:10px;}	
ul, ol, pre, code{ margin-bottom:20px; }



.tweets a:hover{color:#5bc4f0;}

#commentform input[type="text"]:hover, #commentform input[type="password"]:hover, #commentform input[type="email"]:hover, #commentform input[type="url"]:hover, #commentform input[type="tel"]:hover, #commentform input[type="number"]:hover, #commentform input[type="range"]:hover, #commentform input[type="date"]:hover, #commentform input[type="search"]:hover, #commentform textarea:hover, #commentform input.text:hover{color:#7c7c7c;}

.dt-sc-testimonial-wrapper h3, .about-us-detail h3, .image-overlay-text h4 a, .progress-bar h3, .tweet-content h3, .entry-details .entry-title h4{font-weight:600;}

.dt-sc-icon-content p { margin:0; }

.align-center{text-align:center; clear:both;}

.about-us-detail h6{color:#7c7c7c;}

.theme-service p { margin-bottom:5px; }

.medium-weight{ font-weight:600;}

.size{font-size:16px;}

.margin5{margin-bottom:5px;}


/*----*****---- << 1.4 Transition >> ----*****----*/

.theme-service .hexagon-shapes .fa, input[type="submit"], .clients li img, .gallery figure img, .sorting-container a, #main-menu ul li a, .blog-post:hover .post-meta .date, .widget.widget_tag_cloud .tagcloud a, #secondary .widget_categories ul li:hover, .widget_categories ul li:hover .hexagon2, .widget_categories ul li:hover .hexagon2 .corner1, .widget_categories ul li:hover .hexagon2 .corner2, .jcarousel li, a:hover, #secondary .widget_product_categories ul li a span, .theme-service .hexagon, .theme-service .hexagon .corner1, .theme-service .hexagon .corner2, .links li:hover .hexagon, .links li:hover .corner1, .links li:hover .corner2, .links li a, .scroll-down a, .parallax-text h3 a, #commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform input[type="url"], #commentform input[type="tel"], #commentform input[type="number"], #commentform input[type="range"], #commentform input[type="date"], #commentform input[type="search"], #commentform textarea, #commentform input.text, .gallery .image-overlay li > a,.customer-links:hover,.customer-links {-webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s; -o-transition:all 300ms linear 0s; -ms-transition:all 300ms linear 0s; transition:all 300ms linear 0s;}

.theme-service .left:hover .hexagon-shapes .fa, .theme-service .right:hover .hexagon-shapes .fa{-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}

.thumbs .image { margin:  0; }

.thumbs .image { padding: 0 15px; }

.thumbs .last-in-row { padding-right: 0; }

/*----*****---- << 2.Widgets >> ----*****----*/


.widget { float:left; width:100%; padding:0px 0px 40px; margin:0px; }

.widget h4.widgettitle {font-weight:400; padding-bottom:8px; text-transform:uppercase;}

.widget ul { float:left; width:100%; margin:0px; padding:0px; }

.widget ul li { float:left; display:block; clear:both; width:100%;  padding-bottom:0px; }

.widget ul ul { margin-top:10px; margin-left:20px; }

.widget ul ul li { width:90%; }

.widget_categories ul { margin-top:-12px; }

.widget ul.tweet_list li .tweet-time{color:#bbbbbb; display:inline-block;}

.widget_categories ul li { position:relative; float:none; display:block; background:url('blog-splitter.png') bottom repeat-x; margin:0px 0px 10px; padding:0px; margin:0px; }

.widget_categories ul li a { padding:10px 0px 10px 30px; display:block; background:url('thin-border.png') bottom repeat-x; font-size:14px; font-weight:400; }

.widget_categories ul li a span,  #secondary .widget_product_categories ul li a span { display:block; line-height:15px; text-align:center; width:100%; position:absolute; }

.widget ul.product_list_widget li:first-child,.widget .recent-portfolio-widget ul li:first-child { margin:0; padding-top:0; } 

.widget input[type="email"] { width:90.5%; }

.widget.tweetbox ul.tweet_list { list-style-type:none; }

.widget.tweetbox ul.tweet_list li { font-size:14px; line-height:22px; }

.widget.tweetbox ul.tweet_list li a:hover { color:#333334; }

.widget.widget_recent_entries ul { list-style-type:none; }

.widget.widget_recent_entries h4 { font-size:18px; line-height:22px; font-weight:bold; text-transform:none; }

.widget.widget_recent_entries ul li { padding-bottom:25px; }

.widget.widget_tag_cloud .tagcloud a { font-size:14px; line-height:40px; color:#333334; padding:0px 15px; border:1px solid #ededed; margin:0px 10px 10px 0px; float:left; position:relative; }

.widget_categories ul li:hover .hexagon2, .widget_categories ul li:hover .hexagon2 .corner1, .widget_categories ul li:hover .hexagon2 .corner2{border-color:#ffffff;}

ul.recent-posts-widget li a { padding:0px; background:none; }

ul.recent-posts-widget li a.thumb { padding:0px; clear:both; float:left; display:block; position:relative; margin-bottom:30px; margin-right:13px; background:none; }

ul.recent-posts-widget li a.thumb img { display:block; } 

ul.recent-posts-widget li h5 { font-weight:400; font-size:16px; margin-bottom:10px; }

ul.recent-posts-widget li p { font-size:14px; font-weight:normal; }

ul.recent-posts-widget li:last-child a.thumb{margin-bottom:10px;}

ul.recent-posts-widget li:last-child{margin:0px; padding:0;}

ul.product_list_widget li a img { display:block; } 

#secondary .widget ul li a { position:relative; }

#secondary .widget ul li a .hexagon2{position:absolute; top:13px; right:10px; margin:0;}

#secondary .widget ul li a:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:16px; position:absolute; top:14px; left:0px; content:"\f0a4"; }

#secondary .widget_categories ul li a:before, #secondary .widget_product_categories ul li a:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:11px; left:10px; content:"\f00c"; }

#secondary .entry-details .entry-metadata h6:last-child{padding:0;}

#secondary .widget .tweet_list li { position:relative; float:left; display:block; border:0px; padding-bottom:15px; }

#secondary .widget .tweet_list li:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; content:"\f099"; font-size:13px; float:left; padding:2px 5px 25px 0px; }

#secondary .widget .tweet_list li a:before { content:''; }

#secondary .widget .tweet_list li a { padding:0px; background:none; display:inline; }

#secondary .widget .tweet-text a{color:#b1deef;}

#secondary .widget .tweet_list li:last-child{padding-bottom:0px;}

#secondary .widget ul.recent-posts-widget li a:before { content:''; }

#secondary{width:23.27%; float:left; margin-left:20px;}

#secondary .widget_categories ul li a:before, .widget_categories ul li a:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:14px; left:0px; content:"\f008"; }


/*----*****---- << 3.Layout >> ----*****----*/

/*----*****---- << 3.1 Container >> ----*****----*/

.container{width:1160px; margin:0 auto;}

.boxed .wrapper{ width:1240px; margin:0 auto; float:none;}

.boxed #header, .boxed #header2{ width:1240px; margin:0 auto;}

.boxed .wrapper, .boxed #main-content{background-color:#ffffff;}

.boxed { background:url('pattern1.jpg') repeat; }

html, body {min-height: 100%; width: 100%; height:100%;}

/*----*****---- << 4.Banner >> ----*****----*/

.wrapper{float:left; width:100%; height:100%; }

.top-content{width:100%; display:table; position:relative;}

.aligncenter{display:table; margin:0 auto;}

.slidergridrow {width: 100%;}

.slidergridcol{float: left; width: 33.333333%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0.5px; height: 100%;}

.tp-banner-container{width:100%; position:relative;	padding:0;}

.tp-banner{	width:100%;	position:relative;}

.parallax.statistic .column.dt-sc-one-fourth:last-child {margin-right: 0;}

.parallax-banner.parallax{float:none;}

.parallax-banner{background:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/parallax-bg.jpg?17068925453686026977) repeat-y fixed; display:block;}

.pattern-banner{ background:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/pattern-bg.png?17068925453686026977) repeat fixed;}

.pattern-banner, .parallax-banner, .video-full-width{display: table; width: 100%; height: 100%; min-height: 100%; overflow: hidden; vertical-align: middle; z-index: 1; position:relative;}

.video-full-width .overlay-pattern{background:url('video-pattern.png') repeat; z-index:3; }

.parallax-banner .overlay{background:none;}

.overlay, .video-full-width .overlay-pattern{position:absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 2;}

.banner-content { position:absolute; width:100%; height:100%; top:0px; bottom:0px; left:0px; right:0px; margin:auto; text-align:center; z-index:4; }

.pattern-text, .video-text, .parallax-text{ width:100%; height:335px; top:0px; bottom:0px; margin:auto; position:absolute; left:0px; right:0px; }

.video-text { height:388px; }

.parallax-text { height:325px; }

.pattern-text h3{font-size:50px; font-weight:300; margin-bottom:20px; }

.pattern-text h4{font-size:30px; font-weight:300; text-transform:uppercase; margin-bottom:30px; }

.pattern-text img{max-width:100%; height:auto;}

.pattern-text h4 .number{vertical-align:middle; margin:0px 10px;}

.pattern-text h5{margin-bottom:30px;}

.parallax-text ul, .parallax-text-right{display:inline-block;}

.parallax-text-right{margin-left:10px; margin-bottom:40px;}

.parallax-text ul li{font-size:40px; text-shadow:none; font-weight:normal; line-height:50px; text-align:right; text-transform:uppercase;}

.parallax-text h2, .parallax-text h3 a{text-shadow:none; margin-bottom:10px;}

.parallax-text img{max-width:100%; height:auto;}

.parallax-text h3 a{font-size:40px; line-height:50px;}

.parallax-text h3 .fa{position:relative; top:-2px;}

.parallax-text h5{margin-bottom:0;}

.parallax-text h2{font-size:100px; font-weight:bold; line-height:95px;}

.parallax-banner .purchase-now{text-shadow:none; font-size:40px; padding:10px 50px; margin-bottom:30px;}

.video-text, .pattern-text, .parallax-text{display:inline-block}

.video-text h2{font-size:118px; line-height:120px; font-weight:bold; margin-bottom:0; color:#77be32; }

.video-text h3{font-size:45px; font-weight:normal;}

.video-text h4{margin-bottom:0; display:inline-block;}

.video-text img{max-width:100%; height:auto;}

.purchase-now{font-size:24px; font-weight:normal; padding:20px 25px; border:3px solid #ffffff; display:inline-block; text-transform:uppercase;}

.top-content-bottom{width:100%; position:absolute; text-align:center; bottom:3%; left:0; opacity:0.9; z-index:8;}

.scroll-down{margin:0 auto; display:inline-block; opacity:0.3; transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out;}

.scroll-down a{ color: #ffffff;font-size:17px; text-transform:uppercase; font-weight:500; }

.scroll-down a:hover{ color:#ffffff;}

.scroll-down:hover{opacity:1; transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out;}

.scroll-down a img{ margin-bottom:10px; }

.fadeInDown { -webkit-animation-name: fadeInDown; -moz-animation-name: fadeInDown; -webkit-animation-duration:1s; -moz-animation-duration:1s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -webkit-animation-direction: alternate; -moz-animation-direction: alternate; -webkit-animation-timing-function: eaze-in-out; -moz-animation-timing-function: eaze-in-out; }

.fadeIn { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -webkit-animation-duration:10s; -moz-animation-duration:10s; -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -webkit-animation-direction: alternate; -moz-animation-direction: alternate; -webkit-animation-timing-function: eaze-in-out; -moz-animation-timing-function: eaze-in-out; }

.zoomIn { -webkit-animation-name: zoomIn; -moz-animation-name: zoomIn; -webkit-animation-duration:5s; -moz-animation-duration:5s; -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -webkit-animation-timing-function: ease-in-out; -moz-animation-timing-function: ease-in-out;}

#rev_slider_11_1_wrapper .tp-loader.spinner2, #rev_slider_12_2_wrapper .tp-loader.spinner2, #rev_slider_13_3_wrapper .tp-loader.spinner2, #rev_slider_14_4_wrapper .tp-loader.spinner2, #rev_slider_15_5_wrapper .tp-loader.spinner2, #rev_slider_16_6_wrapper .tp-loader.spinner2, #rev_slider_17_7_wrapper .tp-loader.spinner2, #rev_slider_18_8_wrapper .tp-loader.spinner2, #rev_slider_19_9_wrapper .tp-loader.spinner2,.pagination ul li a:hover{ background-color: #ffffff !important; }

.tp-caption .dt-sc-button { border: 3px solid #ffffff !important; background:none !important; }


/*----*****---- << 5.Header >> ----*****----*/

#header{width:100%; margin-top:-2px; float:left; position:relative;  z-index:99999; display:block; box-shadow:0 3px 6px -2px rgba(0, 0, 0, 0.15); }

#header2{margin: 0; padding: 0;  top: 0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;	-webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); width: 100%;  z-index: 9999; background-color:rgba(255, 255, 255, 0.95); box-shadow:0 3px 6px -2px rgba(0, 0, 0, 0.15);}

#header .res-cart { display:none; }

#header .res-cart { text-align: center;float:left;width: 100%;position: inherit;padding:20px 0px;box-shadow:1px 0 5px #d3d3d3; margin-bottom:30px;}

.nav-from-top{top:-90px !important;}

.second-nav{top:0px !important;}

#logo{float:left; display:inline; padding:15px 0px 5px; width:28%;}
#logo img {
    max-width: 60%;
}

#logo a{display:block; width:100%;}

#logo h1 { margin:0;font-size:37px; }

#main-menu{float:left;width:58%; margin:0px; padding:0px;}

#main-menu ul{margin:6px auto 0px; position:relative; float: right;}

#main-menu ul li{display:inline-block;position: relative;}

#main-menu ul li a{font-size:16px; font-weight:400; display:block; padding:35px 15px; position:relative;}

#main-menu ul li.menu-item-simple-parent ul li { border-bottom: 1px solid #ededed; display: inline; float: left;padding: 14px 0; position: relative;width: 100%;}

#main-menu ul li.menu-item-simple-parent ul li a {color: color:#000000; display: block; font-size: 14px;padding: 0 15px; position: relative;}

#main-menu ul li.menu-item-simple-parent ul li:hover a { display:block; }

#main-menu ul li.menu-item-simple-parent ul { left: inherit; right: 0;}

#main-menu ul li.menu-item-simple-parent:last-child ul, #main-menu ul li.menu-item-simple-parent:nth-child(6) ul, #main-menu ul li.menu-item-simple-parent:nth-child(8) ul, #main-menu ul li.menu-item-simple-parent:nth-child(9) ul { left: inherit; right: 0;}

#main-menu ul li.menu-item-simple-parent ul { background-color: #ffffff; border-top: 3px solid;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); float: left;left:0;right:0;margin: auto; position: absolute; top: 85px; width: 200px; z-index: 1;}

#main-menu ul li.menu-item-simple-parent ul, #main-menu ul li.menu-item-simple-parent ul li ul, #main-menu ul li.menu-item-simple-parent ul li:hover ul ul, #main-menu ul li.menu-item-simple-parent ul li ul li ul { display: none;}

#main-menu ul li.menu-item-simple-parent a:hover ul { display: block;}

#main-menu ul ul li a { padding:16px 15px 15px; margin:0px; display:block; }

#main-menu ul li.menu-item-simple-parent ul li:last-child { border:none; }

#main-menu ul li.menu-item-simple-parent:hover ul { display:block; }


#menu-container .cart { float:left;padding:35px 0;position:relative;left:40px; top: 13px; }

.customer-links{position:fixed; z-index:999; right: 138px; top: 37px; color:#ffffff; padding:5px 5px; width:190px;border-radius:5px; text-align:left;}

.customer-links:hover{ color:#fdfaf3; line-height:24px; padding:5px 10px;}

.customer-links:hover span.fa.fa-user { display:none; }

.customer-links span.customer-login{margin-left:5px;}

.customer-login {  width:100%; text-align:center; }

.customer-links span.customer-login a { color:#ffffff; padding:0 10px; }

.customer-links span.fa.fa-user{width:24px; height:24px; display:inline-block; text-align:center; line-height:22px;}

/*----*****---- << Vertical Nav >> ----*****----*/

.dt-vertical-nav-left .dt-vertical-menu-nav { position:fixed; left:60px; top:14%; z-index:999999; }

.dt-vertical-nav-right .dt-vertical-menu-nav { position:fixed; right:60px; top:14%; z-index:999999; }

.dt-vertical-menu-nav #main-menu ul, .dt-vertical-menu-nav #main-menu ul li, .dt-vertical-menu-nav #main-menu ul li a { float:left; width:10px;}

.dt-vertical-menu-nav #main-menu ul li a, .dt-vertical-menu-nav #main-menu ul li .nolink-menu { color:#ffffff; font-size:30px; padding:6px; background:#d5d5d5; width:0px; border-radius:50%; position:relative; z-index:999999; }

.dt-vertical-menu-nav #main-menu ul li { list-style:none; padding-bottom:10px; }

.header2 .dt-vertical-menu-nav #main-menu ul li a, .header2 .dt-vertical-menu-nav #main-menu ul li .nolink-menu { color:color:#000000; font-size:15px; background:#d5d5d5; width:25px; height:25px; line-height:25px; border-radius:50%; position:relative; z-index:999999; padding:0; }

.header2 .dt-vertical-menu-nav #main-menu ul li .fa { display:inline-block; width:100%; text-align:center; line-height:26px; margin:0; }

.header2 .dt-vertical-menu-nav #main-menu ul, .header2 .dt-vertical-menu-nav #main-menu ul li, .header2 .dt-vertical-menu-nav #main-menu ul li a { width:25px; }

.dt-vertical-menu-nav #main-menu ul li.current_page_item a , .dt-vertical-menu-nav #main-menu ul li a:hover { color:#ffffff; }

#header .dt-vertical-nav-right, #header .dt-vertical-nav-left { position:absolute; }

/*----*****---- << Menu-over-slider >> ----*****----*/

#header.dt-menuoverslider { background-color:inherit; box-shadow:none; margin-top:10px; }

.menu-over-slider .top-content { display:block; margin-top:-103px; float:left; }

.menu-over-slider .is-sticky #header.header-animate {  background-color:rgba( 255, 255, 255, 0.95 ); box-shadow:0 3px 6px -2px rgba(0, 0, 0, 0.15); margin-top:0; }

.dt-menu-over-slider-container:before { background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); position:absolute; top:0; content:""; left:0; height:220px; width:100%; z-index:999; }

/*----*****---- << 6.Main >> ----*****----*/

#main-content { width:100%; margin:0px; float:left; }

/*----*****---- << 6.1 About >> ----*****----*/

.about{float:left; width:100%;}

.main-title, .blog-title{float:left;width:100%; text-align:center; position:relative; text-transform:uppercase; margin-bottom:25px;}

.main-title h2, .main-title h3{border-bottom:1px solid; border-color:#f4f4f4; margin:0px; display:inline-block; padding:0px 35px 7px;}

.main-title .small-line{width:37px; display:block; height:1px; position:absolute; bottom:0px; left:48.5%;}

.founder-thumb{display:inline-block; margin:10px auto 25px auto; position:relative;}

.founder-thumb .hexagon-image{width:156px; height:181px; top:-44px; position:absolute; overflow:hidden; transform:rotate(120deg); -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -ms-transform: rotate(120deg); -o-transform: rotate(120deg); left:2px;}


.submit:hover{background-color:#ffffff;}



.about-us-detail{float:left; width:100%; text-align:center;  padding:50px 0px 47px;}

.about-us-detail h6{font-size:16px; line-height:22px; font-weight:400;}

.about-us-detail h3{font-size:24px; line-height:22px; margin-bottom:5px;}

.about .bx-wrapper{position:relative;overflow:hidden;}

.bx-wrapper .slider li{text-align:center;}

.slider li img{float:left;}

.bx-wrapper .bx-default-pager{margin:25px 0px 20px 0px;}

.bx-wrapper .bx-pager .bx-pager-item{display:inline-block;}

.bx-wrapper .bx-controls-direction a{width:42px; height:42px; position:absolute; text-indent:-9999px; top:38%; z-index:9999;}

.bx-wrapper .bx-next{background:url('/images/bx-slider-arrow.png') no-repeat 0px 0px; right:2%;}

.bx-wrapper .bx-prev{background:url('/images/bx-slider-arrow.png') no-repeat 0px -42px; left:2%;}

.hexagon-shapes{ display:inline-block; margin:30px auto 45px; position:relative;}

.founder-thumb .hexagon2, .theme-service .hexagon2, .testimonial-thumb .hexagon2{left:1px; top:1px; }

.hexagon{ position:relative; float:left; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);}

.hexagon .corner1, .hexagon .corner2, .hexagon2 .corner1, .hexagon2 .corner2{position:absolute; width:100%; height:100%; content:""; background:inherit; left:0; top:0;}

.hexagon .corner1, .hexagon2 .corner1{-webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -o-transform: rotate(60deg); transform: rotate(60deg);}

.hexagon .corner2, .hexagon2 .corner2{-webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -o-transform: rotate(-60deg); transform: rotate(-60deg);}

.hexagon2{ position:absolute; float:left;}

.hexagon2 .corner1, .hexagon2 .corner2{left:-1px;}

.testimonial-thumb .hexagon2{width:168px; height:99px;}

.testimonial-thumb .hexagon{width:172px; height:100px; }

.testimonial-image{background-image:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/testimonial_client_img.jpg?17068925453686026977);}

.founder-thumb .hexagon2{width:154px; height:91px;}

.founder-thumb .hexagon{width:161px; height:93px;}

.founder-thumb .hexagon2, .founder-thumb .hexagon2 .corner1, .founder-thumb .hexagon2 .corner2, .testimonial-thumb .hexagon2, .testimonial-thumb .hexagon2 .corner1, .testimonial-thumb .hexagon2 .corner2, 

.team-thumb .hexagon2, .team-thumb .hexagon2 .corner1, .team-thumb .hexagon2 .corner2, .entry-author-image .hexagon2, .entry-author-image .hexagon2 .corner1, .entry-author-image .hexagon2 .corner2{z-index:1; background:none;}

.hexagon-image{width:170px; height:203px; position:absolute; overflow:hidden; transform:rotate(120deg); -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -ms-transform: rotate(120deg); -o-transform: rotate(120deg); top:-51px; left:1px;}

.hexagon-in1{width:100%; height:100%; transform:rotate(-60deg); -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -o-transform: rotate(-60deg); overflow:hidden;}

.hexagon-in2{background-position:40% 10%; background-repeat:no-repeat; width:100%; height:100%; transform:rotate(-60deg); -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -o-transform: rotate(-60deg); visibility:visible;}

.testimonial-thumb{float:right; position:relative; margin:10px 25px 0px 0px;}

.parallax{float:left; width:100%; }

.dt-sc-testimonial-wrapper{float:left; width:100%;}

.testimonial{float:left; width:100%; position:relative;}



.full-width-testimonial{background:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/full-width-testimonial.jpg?17068925453686026977) 50% 0 repeat-y fixed; }



.full-width-testimonial{ height:auto; padding:80px 0 90px;}

/*----*****---- << 6.2 Services >> ----*****----*/

.services{float:left; width:100%;}

.theme-service{float:left; width:100%;}

.theme-service .hexagon2{width:55px; height:32px;}

.theme-service .hexagon{width:58px; height:34px;}

.theme-service .hexagon-shapes .fa{font-family:FontAwesome; font-size:18px; font-weight:normal; position:absolute; left:0; width:100%; line-height:35px; text-align:center; color:#090909;}

.theme-service .hexagon{opacity:0;}

.theme-service .left:hover .hexagon-shapes .hexagon, .theme-service .right:hover .hexagon-shapes .hexagon{opacity:1;}

.theme-service .left{text-align:right;}

.theme-service .hexagon-shapes{margin:20px 0px 20px -9px;}

.theme-service h5{text-transform:uppercase; font-weight:600;}

.theme-service .left .hexagon-shapes{float:right;}

.theme-service .right, .theme-service .left{padding:15px 0px 20px 0px;}

.theme-service .final{padding-bottom:5px;}



.services .dotted-full-width { background:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/full_width_dotted_services.jpg?17068925453686026977) repeat left top; }




.dotted-full-width{float:left; width:100%; text-align:center;  padding:60px 0px;}



.statistic{float:left; width:100%; text-align:center;  height:auto; background-attachment:fixed; padding:80px 0px;}

.statistic p{font-weight:400; font-size:16px; line-height:22px;}

/*----*****---- << 6.3 Portfolio >> ----*****----*/

.portfolio{float:left; width:100%;}

.gallery .image-overlay{width:100%; opacity:0; height:100%; float:left; position:absolute; left:0; top:0; background-color:rgba(119,190,50,0.6); cursor:pointer; }

.gallery:hover .image-overlay{opacity:1; -webkit-transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease-in-out 0s; -o-transition:all 0.5s ease-in-out 0s; -ms-transition:all 0.5s ease-in-out 0s; transition:all 0.5s ease-in-out 0s;}

.gallery img{float:left;}

.gallery:hover figure > img{-webkit-transform:scale(2) rotate(0deg) translate(0px); -moz-transform:scale(2) rotate(0deg) translate(0px); -ms-transform:scale(2) rotate(0deg) translate(0px); -o-transform:scale(2) rotateY(0deg) translate(0px); transform:scale(2) rotate(0deg) translate(0px);}

.gallery figure{position:relative; overflow:hidden;margin:0;}

.image-overlay-text {float: left;width: 100%;text-align: center;position: absolute;top: 0%;bottom: 0%;margin: auto;height: 145px;}

.image-overlay-text h4 a{text-transform:uppercase; font-size:24px; margin-bottom:13px; text-align:center;}

.image-overlay-text p a{text-transform:uppercase; font-size:14px; font-weight:300;}

.image-overlay-text p{margin-bottom:15px;}

.image-overlay:before, .image-overlay:after, .image-overlay .border-line:before, .image-overlay .border-line:after{min-width:14.5%; height:1px; content:""; background-color:rgba(255, 255, 255,0.5); position:absolute; }

.image-overlay:after{top:5%; right:-2%;}

.image-overlay:before{top:5%; left:-2%;}

.image-overlay .border-line:before{bottom:5%; left:-2%; }

.image-overlay .border-line:after{bottom:5%; right:-2%; }

.image-overlay .small-line{min-width:35%; height:2px; margin:0 auto 10px; display:inline-block;}

.image-overlay .border-line:before, .image-overlay:after{transform:rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg);}

.image-overlay .border-line:after, .image-overlay:before{transform:rotate(45deg);  -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);}

.image-overlay .white-box:before{content:""; width:80%; height:80%; top:10%; left:10%; position:absolute; background-color:rgba(255, 255, 255, 0.5);}

.links{display:block; margin-top:20px; position:relative;}

.sorting-container{float:left; width:100%; margin-bottom:20px; text-align:center;}

.sorting-container a{display:inline-block; font-size:16px; margin-right:-2px; font-weight:400; line-height:50px; padding:0px 24px; }

.portfolio-container{float:left; width:100%;}

.links li { display:inline-block;list-style:none; }

.links .hexagon{width:45px; height:26px; transform:none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; margin:10px 0px;}

.links a:hover .hexagon, .links a:hover .corner1, .links a:hover .corner2,.pagination .next-post a:hover,.pagination .prev-post a:hover{background-color:#ffffff;}

.links .hexagon .fa{font:normal 17px FontAwesome; line-height:26px; width:100%; position:absolute; display:block; margin:0px; text-align:center; color:#ffffff; left:0;} 

.gallery .image-overlay .links a { display: inline-block; position: absolute; text-align: center; top:0px; bottom:0px; margin:auto; width:45px; height:26px; }

.gallery .image-overlay .links li:first-child  a { left:0; right:100%; }

.gallery .image-overlay .links a.link { right:0; left:100%; }

.gallery:hover .image-overlay .links li:first-child a { left:0px; right:60px; }

.gallery:hover .image-overlay .links a.link { left:60px; right:0px; }


/*----*****---- << 6.3.1 isotope >> ----*****----*/

.isotope-hidden { display:none !important; }

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


.progress-bar{float:left; width:100%; text-align:center;  height:auto; background-attachment:fixed; padding:55px 0px;}

.grey{color:#7c7c7c;}

.orange{color:#fe6b35;}

.blue{color:#665de5;}

.light-green{color:#36a6a0;}

.yellow{color:#f4d30f;}

/*----*****---- << 6.3.2 Portfolio Single >> ----*****----*/

.content, .post-pagination, .recent-portfolio{float:left; width:100%;}	

.portfolio-slider{float:left;}

.content .bx-wrapper .bx-default-pager{display:none;}

.content .bx-wrapper .bx-controls-direction a{top:46%;}

.content .bx-wrapper .bx-next{right:0;}

.content .bx-wrapper .bx-prev{left:0;}

.content h4{font-weight:normal;}

.content p, .client-detail li a:hover{color:#7c7c7c;}

.post-pagination a{display:inline-block;}

.post-pagination .next-post{float:right;}

.post-pagination{margin:40px 0px;}

.project-details{float:left; width:100%; clear:both;}

.project-details h5 {font-weight:400; margin-bottom:20px; clear:both; }

.project-details ul { float:left; width:100%; margin:0px; list-style-type:none; }

.project-details ul li {display:block; padding-bottom:10px; }

.project-details ul li p{margin-bottom:0;}

.project-details ul.client-detail{margin-bottom:20px;}

.client-detail li .fa{margin-right:7px;}

.project-details .dt-sc-social-icons ul li{margin-right:7px; float:left; padding-bottom:0;}

.recent-portfolio-bg{background:url(//cdn.shopify.com/s/files/1/0687/0339/t/4/assets/full-width-bg-about.jpg?17068925453686026977) no-repeat left top; padding:30px 0px 40px 0px;}

.recent-portfolio .main-title h3{border-bottom:1px solid #ededed;}

.recent-portfolio .main-title{margin:0;}

/*----*****---- << 6.4 Shop >> ----*****----*/

.shop { float:left; width:100%; }

.shop ul.products li { float:left; margin:0 10px; }

ul.products { clear: both; float: left; margin: 0;padding: 0;width:100%; }

ul.products li.first, ul.products li.first .product-wrapper { clear: both; }

ul.products li .product-wrapper.product-four-column {  width: 23.5%;}

ul.products li .product-wrapper { clear: none; display: inline; float: left; margin: 10px 2% 0px 0; padding: 0; position: relative;}

ul.products li.last .product-wrapper { margin-right: 0; }

ul.products li.first, ul.products li.first .product-wrapper { clear: both;}

ul.products li .product-wrapper.product-three-column { width: 31%;}

ul.products li { display: inline; }

ul.products li:hover .product-container { transition: all 0.3s ease-in; }

ul.products li .product-container { float: left; margin: 0; padding: 0;}



ul.products li:hover .product-container { box-shadow:0 0 10px rgba(0,0,0,0.3); padding-bottom:25px; }

ul.products li:hover .product-container .product-thumb img { margin-top: -25px; }

.product-container .product-thumb{ overflow: hidden; }

ul.products li a img { box-shadow:0px 1px 3px 0 rgba(0,0,0,0.3); }

ul.products li .product-container { max-height: 100%;  position: relative; width: 100%;}

ul.products li .product-container:hover .product-title h3 { text-indent:-9999px; }

ul.products li a { color: #2d2d29; }

ul.products li .product-thumb {  position: relative;}

ul.products li .product-thumb, ul.products li .product-thumb a {   line-height: 0;}

ul.products li .product-thumb { float: left;  margin: 0; padding: 0; text-align: center;  width: 100%;}

ul.products li .product-thumb .onsale, .single-product .product > .onsale { border-radius: 50px;  color: #ffffff;  height: 50px; line-height: 50px; position: absolute; right: 10px; text-align: center;  top: 10px; width: 50px;}

ul.products li:hover .product-details, ul.products li .product-details, ul.products li .product-title { transition: opacity 0.3s ease 0.2s;}

ul.products li .product-title { clear: both; float: left;  padding: 15px 0 0;  width: 100%;}

ul.products li .product-title h3 { color: #2d2d29; font-size: 18px;font-weight: normal; margin-bottom: 0; padding: 0 3%; width: 94%;}

ul.products li:hover .product-details, ul.products li .product-details, ul.products li .product-title { transition: opacity 0.3s ease 0.2s;}

ul.products li .product-details, ul.products li .product-details-hover { background:#ffffff;box-sizing:border-box; float: left; width:100%;}

ul.products li .product-details {  padding:10px 3%; }

ul.products li .product-details-hover { padding:10px 3%;  }

ul.products li .product-details-hover a.view_details:before { content: "\f101"; font-family: FontAwesome; font-size: 20px; font-style: normal;  font-weight: normal; left: 0; right:0; text-align:center; top:7px; position:relative; }

ul.products li .product-details-hover a.view_details { border: medium none; border-radius: 5px;  color: #ffffff; display: inline-block; height: 37px; margin: 0; padding: 0;margin-top:7px; margin-left:2px;  width: 39px; position:relative; top:-1px; }

ul.products li .product-details .price del .amount, ul.products li .product-details-hover .price del .amount, ul.products li .product-details .price del, ul.products li .product-details-hover .price del { color: #a0a0a0; font-size: 14px;}

ul.products li .product-details .price ins, ul.products li .product-details-hover .price ins { background: none repeat scroll 0 0 rgba(0, 0, 0, 0);  color: #2d2d29; font-size: 20px;}

ul.products li a img { display: block; height: auto; width: 100%;}

ul.products li .product-thumb .secondary-image { backface-visibility: hidden; display: block; height: auto; opacity: 0; position: absolute; top: 0; transition: all 200ms ease-out 0s; }

ul.products li .product-details-hover, ul.products li:hover .product-details { opacity: 0;}

ul.products li .product-details-hover h3 { margin:0 0 10px; }

ul.products li .product-details-hover .price  { padding-top:0px; margin-bottom:0px; display:inline-block; }

ul.products li .product-details h3, ul.products li .product-details-hover h3 { color: #2d2d29; font-size: 18px; font-weight: normal; margin-bottom: 20px;}	

ul.products li .product-details h3 a, ul.products li .product-details-hover h3 a { color: #2d2d29;}

ul.products li:hover .product-details, ul.products li .product-details, ul.products li .product-title { transition: opacity 0.3s ease 0.2s;}

ul.products li .product-details .add_to_cart_button, ul.products li .product-details-hover .add_to_cart_button, ul.products li .product-details .add_to_cart_button, ul.products li .product-details-hover .add_to_cart_button { background-image: url("/images/cart-ico.png");background-position: center center; background-repeat: no-repeat; border: medium none; border-radius: 5px; color: #ffffff;  display: block; float: right; height: 37px;  padding: 0; width: 39px; text-indent:-9999px;}

ul.products li .product-details-hover .add_to_cart_button { position: relative;}

ul.products li .product-details-hover .add_to_cart_button, ul.products li .product-details-hover .button { clear: both; margin-left:0px; display: inline-block; float: none;}

ul.products li .product-details-hover .add-wishlist-button.show { display: inline-block; }

ul.products li .product-details-hover h3, ul.products li .product-details-hover .price { clear: both;  float: none;text-align: center; width: 100%; }

ul.products li .product-details-hover h3 { margin-bottom: 3px; }

ul.products li .product-thumb:hover .secondary-image  { opacity:1; } 

ul.products li:hover ,ul.products li:hover:hover .product-details-hover { opacity:1; }

ul.products li .product-details-hover { overflow: hidden; text-align: center;}

ul.products li .product-details-hover { bottom: 0; position: absolute; text-align: center; }

ul.products li .product-details, ul.products li .product-details-hover { float: left;  width: 100%;box-sizing:border-box;}

ul.products li .product-details-hover .star-rating { clear: both; float: none; margin: 0 auto 10px; position: relative;}

ul.cart_list li img,  ul.cart_list li img,  ul.product_list_widget li img, ul.product_list_widget li img { box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);float: right; height: auto; margin-left: 4px;width: 32px;}

ul.products li .product-thumb .secondary-image { backface-visibility: hidden;display: block;height: auto !important;opacity: 0; position: absolute;top: 0;transition: all 200ms ease-out 0s;}

ul.products li:hover .secondary-image  { opacity: 1;}

ul.cart_list li img,  ul.cart_list li img,  ul.product_list_widget li img, ul.product_list_widget li img {	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);float: right;height: auto;margin-left: 4px;	width: 32px;	}

ul.products li .product-details-hover .add-wishlist, ul.products li .product-details-hover .add-wishlist-button.show { display:inline-block; }

ul.recent-posts-widget .thumb { height: auto; width:85px;}

ul.recent-posts-widget .thumb img { width:100%; height:auto; }

ul.products li .product-details-hover .product-buttons { float: left; text-align: center; width: 100%;}

ul.tabs li a {border: 1px solid #d6d6d6;border-bottom: 0px;float: left;margin: 0px;padding: 0px 20px;font-size: 14px;text-align: center;font-weight: 600;color: #181818;line-height: 45px;}

ul.portfolio-slider li { padding:0px; }

.summary { float: right; width: 55%; margin-bottom: 2em;}

.summary .price  { color: #2d2d29; font-size: 24px;}

.summary .spr-badge { margin-bottom:10px; }

.summary .purchase-section { float:left; }

.summary .selector-wrapper { margin:0 0 20px; }

.summary .purchase-section .addtocart.disabled { background:#f5f5f5; color:color:#000000; }

.summary .purchase-section .addtocart { font-weight:normal; padding:13px 21px; margin-right:15px; }

.summary .description { float:left; width:100%; }

.summary .dt-sc-social-icons li { display: inline-block;  margin: 0 3px;}

.summary .dt-sc-social-icons {float:left; width:100%;margin:20px 0 0; }

.summary .purchase-section .addtocart { border:none; }

.summary.product-details-hover .add-wishlist { margin-bottom:20px; }

.summary.product-details-hover .add-to-wishlist { padding:11px 20px; }

.summary.product-details-hover button.add-to-wishlist:before { left:-7px; }

.summary.product-details-hover button.add-to-wishlist:before { font-size:14px; }

.summary.product-details-hover .add-wishlist a,.summary.product-details-hover button.add-to-wishlist { margin:0; top:0;font-size:14px;text-transform:uppercase;  }

.summary.product-details-hover .add-wishlist a:before,.summary.product-details-hover bu_products_collectiontton.add-to-wishlist:before { left:-7px; top:0px;font-size:14px; }

.summary.product-details-hover .add-wishlist a,.summary.product-details-hover button.add-to-wishlist { width:inherit; height:inherit; }

.summary.product-details-hover .add-wishlist a:before,.summary.product-details-hover button.add-to-wishlist:before { content: "\f004"; }

.product-details-hover .add-wishlist a { border: medium none; border-radius: 5px; display: inline-block; height: 37px; margin: 0; margin-left:2px;  width: 39px;position:relative; top:0px; }

.product-details-hover button.add-to-wishlist { border: medium none; border-radius: 5px;display: inline-block; height: 37px; margin: 0;  position: relative;top:7px; margin-left:2px;  width: 39px; }

.product-details-hover button.add-to-wishlist:before { content: "\f08a"; font-family: FontAwesome; font-size: 20px; font-style: normal;  font-weight: normal; left: 0; right:0; text-align:center; top:0px; position:relative; }

.product-details-hover .add-wishlist a:before { content: "\f08a"; font-family: FontAwesome; font-size: 20px; font-style: normal;  font-weight: normal; left: 0; right:0; text-align:center; top:7px; position:relative; }

.product-wrapper .product-details-hover button.add-to-wishlist,.product-wrapper .product-details-hover .add-wishlist a {  color: #ffffff;  }

.product-details .add_to_cart_button .fa { padding:8px 12px; }

.product-details-hover .spr-badge { padding:3px 0; }

.products .product-thumb { position: relative;}

.product-details form { float:right; }

.product-buttons { float:left; width:100%; text-align:center; }

.products .star-rating,  .products .star-rating { display: block;  float: none; margin: 0 0 0.5em;}

.product-details-hover .amount { padding:5px;display:inline-block; }

.product-details-hover .button,.spr-content .button { border: 1px solid; border-radius: 5px; color: #ffffff; font-size: 14px; padding: 11px 15px;}

.product-details-hover .add-wishlist {  display: inline-block; }

.product-details-hover .product-options,.product-details .product-options { padding:0; margin:0; }

.cus-product-buttons { display:inline-block; width:100%; }

.cus-product-buttons form { display:inline-block; float:none; clear:both;margin:0; }

.pif-has-gallery .secondary-image { left: 0; opacity: 0; position: absolute; top: 0;}

.add-wishlist .ajax-loading {  box-shadow: none !important; display: inline !important; height: 16px !important; margin-left: 5px;vertical-align: middle; visibility: hidden; width: 16px !important; }

.spr-summary {display:none !important;}

.spr-review:last-child { padding:0; }

.spr-form-input.spr-starrating { padding:13px 0; }

.spr-form h3 { margin-bottom:20px; }

.spr-form-actions { width:81%; }

.spr-form-message { margin-bottom:25px !important; }

.spr-form-message-error {  width:78%; }

.spr-form input[type="text"],.spr-form input[type="email"],.spr-form textarea { width:70% !important; float:left !important; }

.spr-form-label { float:left; width:110px; padding:13px 0; }

.spr-container { padding:0;border-top:none; }


.spr-review { padding:0 !important; border-top:none !important; }

.star-rating:before, .star-rating:before { color: #e0dadf; content: "\f005"; float: left; left: 0; position: absolute; top: 0;}

.related-products-container ul.products li .product-thumb { height:auto; }

.related-products-container ul.products li .product-details-hover .price { margin-bottom:2px; }

.related-products-container .cus-product-buttons { margin-bottom:2px; }

.pagination ul li.active-page { border: 1px solid; border-radius: 3px; color: #ffffff; font-size: 14px; font-weight: bold;line-height: 30px; margin: 0 10px 0 0;  padding: 0 12px;  position: relative;}

.pagination { float: left; margin: 20px 0 0px; padding: 0; width: 100%; }

.pagination ul li a, .pagination .next-post a, .pagination .prev-post a { border: 1px solid; border-radius: 3px;color: #ffffff; float: left; font-size: 14px;  font-weight: bold; line-height: 30px; margin: 0 10px 0 0; padding: 0 12px; position: relative;}

.pagination ul { float: left; margin: 0; padding: 0;}

.pagination ul li { display: inline; float: left; list-style: outside none none; margin: 0; padding: 0;}

.pagination ul li a, .pagination .next-post a, .pagination .prev-post a { border: 1px solid; border-radius: 3px; color:#ffffff; float: left;font-size: 14px; font-weight: bold; line-height: 30px; margin: 0 10px 0 0; padding: 0 12px; position: relative;}

/* Product */

.images { float: left; width: 40%; margin-bottom: 20px;}

h1.product_title { font-size: 24px; margin-bottom: 10px;}

.product_title {clear: none;  margin-top: 0;  padding: 0;}

.images img { width:100%; }

.thumbnails li {margin-right: 23px;  width: 105px; }

.thumbnails li { background:none;  position: relative;  float: left;  display: block;}

/* sidebar */

.widget { float: left; margin: 0; padding: 0 0 40px; width: 100%; }

.widget_product_search h3 { margin-bottom:15px; padding:0; }

.widget ul.product_list_widget li {  border-bottom: 1px dashed #d6d6d6; padding: 15px 0;}

.widget ul li { width: 100%; }

.widget h3.widgettitle { clear: both; float: left; font-size: 24px; font-weight: 400; margin-bottom: 15px;padding-bottom: 8px; position: relative;text-transform: uppercase;width: 100%;}

.widget #searchform label { display: none; }

.secondary-sidebar #searchform input[type="text"] {  margin: 0; min-height: 46px;  padding: 14px 12px; box-sizing:border-box;width:100%; }

.widget #searchform input[type="submit"] { float: right; font-size: 0;  padding: 0 20px; }

.widget.widget_product_categories .product-categories { margin-top: -12px; }

.widget ul {  float: left; margin: 0;  padding: 0; width: 100%; }

.widget.woocommerce ul.product_list_widget li a img { border: 1px solid #e2d6c1; padding: 3px;}

.widget.widget_product_categories .product-categories li:before {  top: 8px; }

.widget .recent-posts-widget li {padding: 0px 0px 30px;border: none;line-height: normal;}

.widget ul.product-categories li:before { color: #37251b; content: "\f06c"; font-family: FontAwesome; font-size: 14px; font-style: normal;  font-weight: normal; left: 0; position: absolute;text-decoration: inherit; top: 12px; }

.widget.widget_product_categories .product-categories li { border-bottom: 1px dashed #ededed; display: block; float: none; margin: 0; padding: 0 0 0 25px;position: relative; }

.widget.woocommerce ul li { width: 100%; }

.widget .recent-portfolio-widget ul li { padding: 10px 0 5px;}

.widget .recent-posts-widget li h5 a, .widget .recent-portfolio-widget ul li h6 a { color: #37251b; font-size: 16px; font-weight: 400; margin-bottom: 10px; }

.widget .recent-portfolio-widget li .thumb { float: left;  margin: 0 15px 10px 0; padding:0; }

.widget .recent-portfolio-widget li .thumb img { height: auto; max-width: 80px; }

.widget .recent-portfolio-widget li a { padding:0; }

.widget ul.product_list_widget li a img {border: 1px solid #e2d6c1;	padding: 3px;}

.widget ul li { box-sizing: border-box; clear: both; display: block; float: left; line-height: 22px;padding: 10px 0 10px 25px; position: relative; width: 100%; }

.widget.widget_product_categories .product-categories li a:before { top: 0;}

.widget.widget_product_categories .product-categories li a { display: block; font-size: 14px; line-height: 35px; margin-bottom: 5px; padding: 0 45px 0 0;}

.widget ul li a {  color: #252525; display: block; font-size: 14px; font-weight: normal;}

.widget.widget_product_categories .product-categories li span { position: absolute; right: 0; top: 6px;}

.widget.widget_product_categories .product-categories ul { margin: 0; display:none;}

.widget_top_rated_products .spr-badge { float: left;  margin-right: 10px; }

.widget_top_rated_products .spr-badge i { font-size:14px; }

#secondary-right.secondary-has-right-sidebar { float: right;}

#secondary, #secondary-right, #secondary-left {  float: left;  margin: 0;  padding: 0; width: 270px; }

#searchform input[type="submit"] {background: url("/images/search.png") no-repeat scroll center center rgba(0, 0, 0, 0);border-radius: 0px 2px 2px 0px;top: 0;margin-top: 0;min-height: 47px;min-width: 52px;padding: 10px 23px;position: absolute;right: 0;text-indent: -9999px;border: none;}

#searchform {  clear: both; float: left; position: relative;width: 100%; }

#search .product-details { text-align:center; }

#search .product-details h5 { padding:20px 0px;margin:0; text-align:center; }

#search .subtext { float: left; padding: 5px 0 20px; width: 100%;}

#search form { float:left;width:40%; }


/*----*****---- << 6.5 Team >> ----*****----*/

.team{float:left; width:100%;}

.team-thumb .hexagon-image{width:185px; height:217px; left:0px; top:-55px;}

.team-thumb .hexagon-image .hexagon-in2{background-position:50% 0%;}



.dt-sc-testimonial-wrapper.type2 .container{width:745px;}

.testimonial span{font-size:24px; float:right; margin-right:10px;}

.testimonial h4{font-weight:400; line-height:36px; text-align:center;}

.testimonial{float:left; width:100%; margin-bottom:25px;}

.jcarousel-wrapper { margin: 20px auto; position: relative; float:left; width:100%; }


.team .jcarousel-wrapper { margin:0 auto; }

.jcarousel { position: relative; width: 100%; overflow:hidden; }

.jcarousel ul { width: 20000em; position: relative; list-style: none; margin: 0; padding: 0; }

.jcarousel li { width: 198px !important; height:161px; float: left; background-color:#e9e9e9; margin-right:40px; }

.jcarousel img { display: block; max-width: 100%; height: auto !important;}



.full-width-quote{ padding:60px 0px; height:auto;}

.jcarousel-pagination, .bx-wrapper .bx-default-pager{float:left; width:100%; text-align:center; position:relative; }

.jcarousel-pagination{ margin:10px 0px 0px 0px; }

.jcarousel-pagination a, .bx-wrapper .bx-pager.bx-default-pager a{ background-color:#f8f8f8; width:10px; margin:0px 4px; height:10px; border-radius:50%; display:inline-block; text-indent:-9999px; }

.full-width-tweets{  padding:55px 0px 60px 0px; height:auto;}



.tweet-content{float:left; width:100%; text-align:center; position:relative;}

.tweet-content .hexagon-shapes{margin:37px auto 50px;}

.tweet-content .hexagon-shapes:before, .tweet-content .hexagon-shapes:after{min-width:170px; top:15px; position:absolute; display:block; content:""; background-color:#ededed; height:1px;}

.tweet-content .hexagon-shapes:before{right:73px;}

.tweet-content .hexagon-shapes:after{left:73px;}

.tweets { display:inline-block; width:100%;}

.tweets p{color:#ffffff;}

.tweets, .caroufredsel_wrapper{width:100% !important;}

.tweets .tweet_list { text-align:center !important; }

.tweets span.tweet_text { font-size:24px; font-weight: normal; line-height:36px; display:inline-block; width:100%; color:#fff; margin-bottom:10px;}

.tweets .tweet_text a.tweet_hashtag { display:none;}

.tweets span.tweet_time { font-size:24px; line-height:36px; display: inline-block; font-weight:normal;  }

.tweet-content .hexagon-shapes .hexagon2{width:46px; height:27px; left:0px;}

.tweet-content .hexagon-shapes .hexagon{width:48px; height:27px;}

.tweet-content .hexagon-shapes .fa{font-size:24px; font-family:FontAwesome; font-weight:normal; position:absolute; width:100%; line-height:28px; text-align:center; left:0px;}

.carousel-arrows a{display:inline;}

.carousel-arrows .fa{font-size:24px; font-weight:normal; font-family:FontAwesome; margin:0px 5px;}

.tweets{width:100%; text-align:center;  display:inline-block;}

/*----*****---- << 6.6 Blog >> ----*****----*/

.blog, .content-main{float:left; width:100%;}

.blog-entry { float:left; clear:both; margin:0px 0px 30px; padding:0px 0px 15px 0px; width:100%; border-bottom:1px solid #dfdfdf; }	



.page-title-bg{ background:url('/images/breadcrumb.jpg') no-repeat center center; }




.blog-items .column { margin-left: 0; margin-right: 0; }

.entry-thumb { width:100%; margin:0px 0px 20px 0px; padding:0px; float:left; }

.entry-thumb a { display:block; float:left; width:100%; margin:0px; padding:0px; line-height:0; }

.entry-thumb img { max-width:100%; height:500px; }

.entry-thumb video, .entry-thumb audio{width:100%; height:auto;}

.entry-details {display:block; margin:0px;}

.entry-title .hexagon{transform:none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; margin:10px 10px 0px 0px; position:relative;}

.entry-metadata .hexagon2{width:25px; height:15px; position:relative; margin:10px 10px 0px 0px;}

.entry-title .hexagon{width:31px; height:18px; float:left;}

.entry-metadata .hexagon2, .entry-metadata .hexagon2 .corner1, .entry-metadata .hexagon2 .corner2{border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5;}

.entry-details .hexagon .fa, .entry-metadata .hexagon2 .fa{font:normal 13px FontAwesome; line-height:18px; width:100%; position:absolute; display:block; margin:0px; text-align:center;} 

.entry-metadata .hexagon2 .fa{color:#c7c7c7; line-height:15px; font-size:12px;}

.entry-details .entry-title h4{ font-size:20px; line-height:35px; text-transform:uppercase; }

.entry-details .entry-metadata { display:block; margin:0px;}

.entry-details .entry-metadata i { margin-right:5px; } 

.entry-details .entry-metadata h6 { display:inline-block; float:left; line-height:35px; font-weight:300; padding:0 13px 0px 0px; text-transform:none; }

.entry-details .entry-metadata h6, .entry-details .entry-metadata h6 a, .entry-details .entry-metadata span { color:#7c7c7c; }

.entry-details .entry-metadata span, .entry-details .entry-metadata h6 a { display:inline-block; }

.entry-body { display: inline-block; width: 100%; font-weight:400; margin-bottom:10px;}

.entry-body blockquote, .entry-body blockquote q { font-size:16px; color:#a8a8a8; font-weight:400; line-height:29px; text-transform:none; padding:0; margin-bottom:15px;}

.entry-body blockquote:before, .entry-body blockquote q:after { content:none; }

.page-title{text-align:center; margin-top:-2px;}

.page-title {text-align: center;margin-top: -2px;width: 100%;float: left;background-color: #3b4755;height: auto;}

.page-title .page-title-container {padding: 45px 0px 50px 0px;float: left;width: 100%;background:0 0 rgba(255, 255, 255, 0.3);}

.page-title h2{border:2px solid #ffffff; padding:0px 58px; font-weight:400; display:inline-block; margin-bottom:0px;}

.black-box, .black-box .entry-metadata .hexagon2, .black-box .entry-metadata .hexagon2 .corner1, .black-box .entry-metadata .hexagon2 .corner2{background-color:#404040;}

.black-box{padding:30px 0px 10px 0px; border-bottom:none; float:left; width:100%; margin-bottom:10px;}

.black-box p{font-size:18px; margin-bottom:20px; line-height:26px;}

.black-box .entry-body span{float:right; font-size:18px; color:#848484; margin-right:15px; margin-bottom:15px;}

.black-box p, .black-box .entry-details{padding-left:15px;}

.black-box .entry-details .entry-metadata h6, .black-box .entry-details .entry-metadata h6 a, .black-box .entry-details .entry-metadata span { color:#c7c7c7; }

#primary{float:left; position:relative;}

#primary.with-sidebar{width:75%; padding-right: 20px;}

#primary.content-full-width{width:100%;}

.with-sidebar .entry-thumb{margin-bottom:30px;}

.with-sidebar .entry-details .entry-title h4{margin-bottom:25px;}

/*----*****---- << 6.6.1 Post Author Details >> ----*****----*/

.post-author-details{border-bottom: 1px solid #dfdfdf; float: left; margin-bottom: 30px; margin-top:5px; padding-bottom: 40px; width: 100%;}

.entry-author-image{float:left; position:relative; }

.entry-author-image .hexagon-image{ width:77.9px; height:91px; top:-23px;}

.entry-author-image .hexagon2{width:76px; height:45px; position:relative;}

.comment-author .hexagon-image{ width:81px; height:94px; top:0;}

.with-sidebar .author-desc{width:85%;}

.author-desc{float:left;padding-left:20px;}

.post-author-details h4{margin-bottom:30px; font-weight:400; }

.post-author-details .about-comments { float:left; width:100%; margin-bottom:20px; }

.author-desc h5{float: left; font-size: 15px; margin-right: 4px; font-weight:400;}

.author-desc h5 a, ul.commentlist li .author-name a, ul.commentlist li .comment-body{color:#181818;}

.author-title{color:#9c9c9c; line-height:22px; float:left; width:100%;}

.author-thumb{background: url('authour.jpg') no-repeat 50% 0%;}

/*----*****---- << 6.6.2 commententries >> ----*****----*/

.commententries { width:100%; display:inline-block; margin:5px 0px 0px; padding:0px; position:relative; }

.commententries h4, #respond h4 { padding:0px; margin:0px; width:100%; clear:both; }

.commententries h4, #respond h4{ text-transform:uppercase; font-weight:400; }

#respond h4 {margin-bottom:47px;}

#respond{float:left; width:100%; margin-bottom:10px;}

.commentlist:before{content:""; height:100%; width:1px; position:absolute; background-color:#ededed; left:4.7%; height:60%;}

ul.commentlist { float:left; margin:45px 0px 20px 0px; padding:0px 0px 25px 0px; list-style:none; border-top:0px; width:100%; }

ul.commentlist li { display:block; float:none; list-style:none; border:none; margin:0px 0px 30px; padding:0px 0px 0px 110px; position:relative; clear:both; }

ul.commentlist li ul.children { margin:30px 0px 0px 0px; padding:0px; float:left; border:none; clear:both; width:100%; position:relative; }

ul.commentlist li .respond { margin-left:69px; }

ul.commentlist li ul.children:before{content:""; width:10%; height:1px; position:absolute; background-color:#ededed; top:26.5%; left:-9%;} 

ul.commentlist li .comment-author { left:0px; top:0px; position:absolute; }

ul.commentlist li .comment-author img { max-height:88px; float:left; margin:0px; -moz-transition:all 1s ease; -webkit-transition:all 1s ease; -o-transition:all 1s ease; transition:all 1s ease; border-radius:54px; }

ul.commentlist li .comment-author img, ul.commentlist li .comment-author img { max-width:88px; }

ul.commentlist li .comment-author img:hover { -moz-transform: scale(1.05) rotate(20deg) translate(2px); -webkit-transform: scale(1.05) rotate(20deg) translate(2px); -o-transform: scale(1.05) rotate(20deg) translate(2px); transform: scale(1.05) rotate(20deg) translate(2px); }

ul.commentlist li .author-name { font-size:15px; padding-bottom:5px; float:left; margin-right:5px; font-weight:normal; }

ul.commentlist li .comment-details { display:block; }

ul.commentlist li .commentmetadata { color:#9c9c9c; text-decoration:none; line-height:17px; font-weight:400; font-size:15px; }

.bypostauthor { float:left; }	

ul.commentlist li .comment-body { margin:0px; padding:0px; border-bottom:1px solid #dddddd; }

ul.commentlist li .comment-content { padding:2px 10px 25px 0px; margin:10px 0px 10px; border-radius:5px; }

ul.commentlist li .reply { background:#ffffff; margin:-20px 0 0; float:right; text-align:center; font-weight:400;}

ul.commentlist li .reply a .fa { margin-left:3px; padding:0; font-size:13px;}

.comment-image1{background: url('comment-img1.jpg') no-repeat 50% 0%;}

.comment-image2{background: url('comment-img2.jpg') no-repeat 50% 0%;}

.comment-image3{background: url('comment-img3.jpg') no-repeat 50% 0%;}

#commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform input[type="url"], #commentform input[type="tel"], #commentform input[type="number"], #commentform input[type="range"], #commentform input[type="date"], #commentform input[type="search"], #commentform textarea, #commentform input.text { padding:15px 3%; margin-bottom:20px; background-color:#333333; color:#ffffff;}

#commentform textarea { height:184px; }

#commentform .column{margin-left:2%;margin-right:0;}

#commentform .column.first { margin-left:0; }

#commentform .last{margin-right:0;}

#respond h3 {font-size: 24px;margin-bottom:30px;}

#respond h3 {padding: 0px;width: 100%;clear: both;text-transform: uppercase;font-weight: 400;}

.form-submit input[type="submit"]{padding:9px 21px;}


/*----*****---- << 6.7 Contacts >> ----*****----*/



.full-width-contact{ height:auto; padding:90px 0px;}

#map { height: 100%; padding-bottom: 4px; width:100%; float:left; }
#map iframe {width:100%;display:inline-block;text-align:center;}

.contacts{float:left; width:100%;}

.contact-form{float:left; width:100%;}

.contact-page #contactFormWrapper input[type="text"],.contact-page #contactFormWrapper textarea,#contactFormWrapper input[type="email"] { color:#2b2b2b; }

.contact-page .page-with-contact-form .contact-form input[type="text"],.contact-page .page-with-contact-form .contact-form textarea,.contact-page .page-with-contact-form .contact-form input[type="password"],.contact-page .page-with-contact-form .contact-form input[type="email"],.contact-page .page-with-contact-form .contact-form input[type="url"],.contact-page .page-with-contact-form .contact-form input[type="tel"],.contact-page .page-with-contact-form .contact-form input[type="number"],.contact-page .page-with-contact-form .contact-form input[type="range"],.contact-page .page-with-contact-form .contact-form input[type="date"],.contact-page .page-with-contact-form .contact-form input[type="search"],.contact-page .page-with-contact-form .contact-form input.text { background:none;border:1px solid #e4e4e4; width:100%;color:#2b2b2b; }

.contact-form input[type="text"],.contact-form textarea,.contact-form input[type="password"],.contact-form input[type="email"],.contact-form input[type="url"],.contact-form input[type="tel"],.contact-form input[type="number"],.contact-form input[type="range"],.contact-form input[type="date"],.contact-form input[type="search"],.contact-form input.text { background-color: rgba(0, 0, 0, 0.8);border:none; width:100%; }

.contact-form textarea{margin-bottom:20px;}

.contact-form input[type="submit"]{width:100%; font-size:15px;}

#contactFormWrapper input[type="text"],#contactFormWrapper textarea,#contactFormWrapper input[type="email"] { color:#ffffff; }

input[type="submit"]{ float:right; font-size:13px; font-weight:bold; display:inline-block; padding:13px 18px; border-radius:5px; cursor:pointer;-webkit-appearance: none;}

input[type="submit"]:hover{background-color:#ffffff;}

input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], input[type="search"], input.text,#customer-addresses select{width:94%; padding:14px 3%; box-sizing:border-box;border-radius:3px; margin:0px 0px 30px 0px; background-color:#fff; border:1px solid #d6d6d6; font-size:14px; display:inline-block; font-weight:400; }
textarea{height:164.5px; overflow:auto; resize:none;}

.column.dt-sc-one-half > input{padding:14px 0px 14px 6%;}

.hours span{float:left; min-width:115px;}

.customer-support{margin-left:23px;}

.message h5.success{color:#ffffff;}

/*----*****---- << 7.Footer >> ----*****----*/

footer{float:left; width:100%;}

.copyright{padding:15px 0px;float:left; width:100%;}

.copyright p{font-size:15px;float:left;  font-weight:400; text-align:center; margin-bottom:0;}

/*----*****---- << 8.Go To Top >> ----*****----*/

#toTop { display:none; text-decoration:none; position:fixed; bottom:30px; right:30px; overflow:hidden; width:40px; height:40px; border:none; text-indent:100%; background:url('/images/ui.totop.png') no-repeat left top; z-index:9999; }	

#toTopHover { background:url('/images/ui.totop.png') no-repeat left -40px; width:40px; height:40px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; }	

#toTop:active, #toTop:focus { outline:none;	}


/*----*****---- << 9.Style Picker >> ----*****----*/

.dt-style-picker-wrapper { position:fixed; z-index:999999; left:0px; top:150px; }

.style-picker-ico { position:absolute; top:25px; left:225px; }

#dt-style-picker { background:#ffffff; width:225px; float:left; position:absolute; top:0px; z-index:1; margin:0px; padding:0px 0px 10px; text-align:center; border:1px solid #dddddd;}

#dt-style-picker h2 { font:normal 12px Tahoma, Geneva, sans-serif; text-transform:uppercase; line-height:48px; width:100%; color:#848484; margin:0px 0px 15px; padding:0px; border-bottom:1px solid #dddddd; background-color:#fefefe;}

#dt-style-picker h3 { font:normal 12px Tahoma, Geneva, sans-serif; padding:0px 0px 10px; width:100%; color:#848484; margin:0px; text-transform:uppercase; }

#dt-style-picker ul { float:left; margin:0px; padding:0px; text-align:center; width:225px; }

#dt-style-picker ul li { display:inline-block; display:inline; list-style-type:none; padding:0px; margin:0px 0px 6px 0px; }

#dt-style-picker ul li a { background:#ffffff; border:1px solid #ffffff; padding:2px; display:inline-block; margin:0px; line-height:0; }

#dt-style-picker ul li a.selected, #dt-style-picker ul li a:hover { border:1px solid #d7d7d7; }

#dt-style-picker ul li a img, .style-picker-ico > img{ border:1px solid #d7d7d7; }

#dt-style-picker .hr { width:100%; height:10px; display:block; float:left; clear:both; position:relative; z-index:1; margin:3px 0px; }

#product .featured:hover { box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);cursor:crosshair; }

#product .featured ul { margin:0; }

#product .featured { margin-bottom: 15px; }

#product .featured img {display: block;height: auto;box-sizing:border-box;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);-webkit-transition: all ease-in-out .2s;-moz-transition: all ease-in-out .2s;-o-transition: all ease-in-out .2s;transition: all ease-in-out .2s;}

#product .description { margin-bottom: 15px;}

#product .thumbs .image {  background:none; padding:0 15px 0 0; }

#product .thumbs .image:nth-child(3n+4) { clear: left; }

#product h3.collection-title { font-size: 20px; padding-top: 30px; padding-bottom: 20px; border-top: 1px solid #f4f4f4; }

#product .featured span { display:block !important; }

.product-options { padding: 15px 0 20px; margin-bottom: 15px;  }

.product-options.no-options { border:none; }

.product-options label { display: block; float:left; padding:10px 0; width:150px;  }

.product-options select { border: 1px solid #e1e1e1;padding: 7px;width: 275px; }

.product-options textarea { width: 30px; line-height: 18px; height: 18px; min-height: 18px; margin-bottom: 20px; }

.tc.item-quantity { float: left; margin-bottom:0px;font-weight:bold; background:#f5f5f5; border:none;color:#7c7c7c; padding: 11px 0; text-align: center; width: 50px;outline:none; -moz-appearance:textfield; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance:none; margin:0;}

input[type="number"] { -moz-appearance: textfield !important; }

input[type="submit"], button, input[type="button"] { cursor: pointer;-webkit-appearance: none;}

.qty .selector-wrapper { float:none;width:52%;display: inline-block;text-align: center;margin: 0 auto;vertical-align: middle; }

.selector-wrapper > p { padding:10px 0; }

.selector-wrapper .qtyplus { border-radius:5px 0 0 5px; }

.selector-wrapper .qtyminus { border-radius:5px 0 0 5px; }

.selector-wrapper .qtyplus { border-radius:0 5px 5px 0; }

.selector-wrapper input[type="button"] {display: inline-block;color:#ffffff; float: left; font-size: 15px; font-weight: bold; height: 40px; padding: 11px 15px; width: 40px;}

.selector-wrapper {float: left; width: 100%;margin:10px 0;}

.selector-wrapper.product-set { margin:0; }

ul.dt-sc-tabs-frame li a.current, blockquote.type2, .dt-sc-pullquote6, #main-menu ul li.menu-item-simple-parent ul, .dt-sc-tabs-container ul.tabs li.active a { border-top-color: #77be32;}

.dt-sc-tabs-container { clear: both; float: left; margin: 20px 0;  padding: 0;  width: 100%;}

.dt-sc-tabs-container ul.dt-sc-tabs { float: left; margin: 0; padding: 0; width: 100%;}

.dt-sc-tabs-container ul.dt-sc-tabs li { display: inline; float: left; margin: 0 -1px 0 0; padding: 0;}

.dt-sc-tabs-container ul.dt-sc-tabs li a { border-color: #d6d6d6; border-image: none; border-style: solid solid none;border-width: 1px 1px 0; color: #181818; float: left; font-size: 14px; font-weight: 600; line-height: 45px; margin: 0; padding: 0 20px;text-align: center;}

.dt-sc-tabs-container ul.dt-sc-tabs li { display: inline; float: left; margin: 0 -1px 0 0; padding: 0;}

.dt-sc-tabs-container .panel { background:#ffffff; border: 1px solid #d6d6d6; clear: both; float: left; margin: -1px 0 0;  padding: 20px 4%; width: 92%;}

.dt-sc-tabs-container .panel h2 {font-size: 20px; margin-bottom: 15px;}

.dt-sc-tabs-container ul.dt-sc-tabs li a.current  { background: #ffffff;border-bottom: 0px;position: relative;z-index: 1; }

.related-products-container, .upsell-products-container {float: left;clear: both;margin: 20px 0px 0px;padding: 0px;width: 100%;}

.related-products-container h2 { font-size:20px; }

.border-title {border-bottom: 1px solid #ededed;margin-bottom: 15px;clear: both;}

.border-title .small-line {width: 20px;height: 1px;display: block;margin: 5px 0px -1px 0px;}

#commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform input[type="url"], #commentform input[type="tel"], #commentform input[type="number"], #commentform input[type="range"], #commentform input[type="date"], #commentform input[type="search"], #commentform textarea, #commentform input.text { padding: 15px; margin-bottom: 20px; background-color: #333333; color:#ffffff;  border: none;}

#commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform input[type="url"], #commentform input[type="tel"], #commentform input[type="number"], #commentform input[type="range"], #commentform textarea { width:100%; }


#commentform .column.first { margin-right: 0px; }

#collections-listing .details { display:inline-block; text-align:center; width:100%; padding:10px 0; } 

#customer_sidebar { float:right; }

.edit_address span { float:left; text-align:left; }

#customer-login,#recover-password,#cart,#search,#customer-register,#customer-account,#customer-addresses,#customer-reset-password { min-height:365px; }

#customer-register,#customer-login,#customer-reset-password {display: inline-block; margin: 0 auto; text-align: center; width: 100%;}

#customer-register span.note { float:left; text-align:left;margin-top:15px; }

#customer-addresses .selection-box {  width:80%; }

#customer-addresses .selection-box:after { top:7px; }

#customer-addresses select { width:100%; }

#login form,#register form,#recover-password,#add_address form,#customer-addresses form,#customer-reset-password form  { display: inline-block; margin: 0 auto; text-align: center; width: 40%; }

#add_address .note { float:left; margin-bottom:15px; }

#login form a { margin-top:15px;float:left;}

#login h4.title,#customer-account h4 { margin-bottom:30px;font-size:32px; }

#add_address .note { width:100%; text-align:left;margin-top:-15px; }

.customer_address_table > span { float:left; }

.customer_address_table .action_bottom { float:right; }

.customer-account-details { float:left;  }

#customer-login span.note { float:right;margin:13px 10px 0 0; }

#recover-password p { width: 100%;float: left;margin-top: 30px; text-align: left; }

#recover-password h2 { font-size:32px; }

#login label,#recover-password label,#register label, #add_address label, #customer-addresses label,#customer-reset-password label { text-align:left; }

#register label,#login label,#recover-password label,#add_address label,#customer-addresses label,#customer-reset-password label { float:left; width:102px; padding:16px 0; }

#register input[type='text'],#register input[type='email'],#register input[type='password'],#register textarea, #login input[type='text'],#login input[type='email'],#login input[type='password'],#login textarea,#recover-password input[type='email'],#add_address input[type='text'],#customer-reset-password input[type='password'] { width:78%; }

#register .action_bottom,#login .action_bottom,#customer-reset-password .action_bottom { width:100%; }

table.shop_table,#customer_orders { text-align: left;  width: 100%; border-collapse: separate;}


table.shop_table.wishlist .addtocart { font-weight:normal; }

table.shop_table td p { margin:0; }

table.shop_table th { font-weight: bold; font-size: 14px;padding:15px 10px;}

table{border-collapse:separate; border-spacing:0; margin-bottom:20px; width:100%; clear:both; }

th{ padding:15px; line-height:normal; text-transform:uppercase; text-align:center;}

td{ line-height:normal; text-align:center; padding:13px 15px;vertical-align:middle;}

table.shop_table th { color:#ffffff; }

table.shop_table .remove a,table.shop_table.wishlist .fa { color:red; font-weight:bold; }

textarea#contactFormMessage { height:182px; }

.buttons.clearfix { float:left; width:100%;  }

.buttons.clearfix .secondary { margin-right:10px; }

.dt-menu-expand{font-size:16px !important; display:block !important; position:absolute !important; right:0px; top:0px; line-height:normal; padding:0px !important; text-align:center; line-height:38px !important; cursor:pointer; width:37px; height:37px; font-weight:bold; background:none !important;}

.copyright #payment-options img {max-width:35px;}

.copyright #payment-options { float:right; }

.portfolio-carousel-wrapper { clear: both;float: left;margin: 0; padding: 0; position: relative; width: 100%;}

.portfolio-carousel {  clear: both;float: left; margin: 0; padding: 0; width: 100%; }

.portfolio-carousel-wrapper .carousel-arrows { position: absolute;right:8px; top: -25px;}

.portfolio-carousel-wrapper .carousel-arrows a {  background: #e0e0e0; display: inline-block; float: left; height: 34px; text-align: center; width: 34px;}

.portfolio-carousel-wrapper .carousel-arrows a span { color: #adadad;font-size: 18px; line-height: 34px; }

#social .google-plus, #product .tweet-btn, #product .pinterest, #product .facebook-like { display:block; float:left; margin-right:10px; }

#social .pinterest { width: 70px; }

#social .share-this { float: left; margin: 0 10px 0 0;width:100%; }

#social { float:left;width:100%; margin:20px 0; }

.share-facebook {  background-color: #3b5998;}

.share-twitter { background-color: #00aced;}

.social-sharing a { border-radius: 2px; color: #ffffff;display: inline-block; font-weight: normal; height: 22px;line-height: 22px; margin: 0 10px 10px 0; text-decoration: none;}

.share-pinterest {background-color: #cb2027;}

.social-sharing .fa { padding: 0 5px 0 10px;}

.social-sharing span.fa { display: inline-block; font-size: 14px; height: 22px; line-height: 22px; vertical-align: top;}

.share-title { font-size:14px; font-weight: bold; padding-right: 10px;}

.social-sharing span.share-count {display: inline-block; }

.share-fancy { background-color: #4999dc;}

.share-google { background-color: #dd4b39;}

.share-facebook:hover { background-color: #2d4373;}

.social-sharing a:hover { color:#ffffff; }

.share-twitter:hover { background-color:#0087ba; }

.share-pinterest:hover { background-color:#9f1f1f; }

.share-fancy:hover { background-color:#2780cb; }

.share-google:hover { background-color: #c23321;}

.social-sharing .fa:before {  line-height: 22px;}

.share-count:before, .share-count:after { border-bottom: 6px solid transparent; border-right: 6px solid; border-top: 6px solid transparent; content: ""; display: block; height: 0; margin-top: -6px; position: absolute;top: 50%; width: 0;}

.share-count:before { border-right-color: #ececec; left: -6px;}

.share-count:after { border-right-color: #ffffff; left: -5px;}

.share-count.is-loaded { opacity: 1;}

.share-count { background-color: #ffffff;border: 1px solid #ececec;border-radius: 0 2px 2px 0;color: #333; font-size: 14px;line-height: 20px; margin-right: -2px;opacity: 0; padding: 0 8px; position: relative; transition: opacity 0.2s ease-in 0s;}

.view_address_section {width:46%;float:left;margin:0 10px 40px;}

.add_address_section {width:48%;float:left; margin-left:45px;}

.add-new-address.dt-sc-button.small { color:#ffffff !important;padding:11px 18px; }

.add-new-address.dt-sc-button.small:hover { color:#77be32 !important; }

#customer-addresses form {width:100% !important;}

#customer-addresses input[type='text'] { width:80%; }

.search input[type="text"] { width:100%; }



.page-with-contact-form ::-webkit-input-placeholder {
  color: #ffffff;
}

.page-with-contact-form :-moz-placeholder { /* Firefox 18- */
  color: #ffffff;  
}

.page-with-contact-form ::-moz-placeholder {  /* Firefox 19+ */
  color: #ffffff;
}

.page-with-contact-form :-ms-input-placeholder {  
  color: #ffffff;
}



.summary .selector-wrapper {position: relative;float:left;width:100%;}

.summary .selector-wrapper:after { background-image: url("select-box-arrow.png"); background-position: center center;  background-repeat: no-repeat; content: ""; height: 35px; pointer-events: none; position: absolute;right:215px;  top: 0; width: 35px;}


.summary .selector-wrapper.product-set:after,.summary .selector-wrapper.product-quantity:after,#cart .selector-wrapper:after { background-image:none; }

.selection-box:after { background-image: url("select-box-arrow.png"); background-position: center center;  background-repeat: no-repeat; content: ""; height: 35px; pointer-events: none; position: absolute;right:0;  top: 0; width: 35px;}


.selection-box {position: relative;float:left;width:100%;}

select { float:left;width:100%;padding:10px 5px; border:1px solid #008c99;-webkit-appearance: menulist-button;line-height:18px;-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select.clearfix { float:left;width:100%; }

#customer-login #guest { margin-top:50px; }

#customer-login #guest h2 { font-size:32px;text-transform:capitalize; }

#customer-login #guest form,#customer-login #guest { display:inline-block;text-align:center; }

.blog-items,.blog .large { margin-bottom:5px; }


span.amount.cut-it {
    text-decoration: line-through;
}
.dt-sc-one-half.column:nth-child(odd) {
    clear: both;
}
.entry-body p {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}
.price {
    font-size: 20px;
}
.dt-sc-margin20 .widget {
    padding: 0 220px 20px;
}
div#productFilter {
    padding: 20px;
}
.copyright a {
    color: #a09294;
    text-decoration: none;
}
.product-thumb {
    height: 260px;
}
.my-text {
    padding: 150px;
    text-transform: uppercase;
    font-size: -webkit-xxx-large;
    text-align: center;
}
.my-text h2{
      color: #333333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}